<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MysqlConnectionString" value="U2VydmVyPTE4MC4xNzkuNjcuMTk4O0RhdGFiYXNlPWRscl90ZW1wO1VpZD1yb290O1B3ZD16NEtXXlFqISZHJUZjQTs="/>
		<add key="cacheexpiration" value="20"/>
		<add key="sleepcontroller" value="5000"/>
		<add key="limittopick" value="15000"/>
		<add key="webreqsleep" value="1"/>
		<add key="servicepointconnlimit" value="200"/>
		<add key="pickupTable" value="dlr_status"/>

		<!--*********************logconfig parameters*********************-->
		<add key="filesize" value="40"/>
		<add key="FileSizeFormat" value="mb"/>
		<add key="strLogFileName" value="Logconfig"/>
		<add key="strlogpath" value="E:\Exceptionlog\dlrcallback\"/>
		<add key="ErrorLogfileName" value="Errorconfig"/>
		<!--INFO = 0,    DEBUG = 1,    DB = 2,    EXC = 3,    PANIC = 4-->
		<add key="level0" value="1"/>
		<add key="level1" value="1"/>
		<add key="level2" value="1"/>
		<add key="level3" value="1"/>
		<add key="level4" value="1"/>
		<!--*********************logconfig parameters*********************-->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>